:root {
    --body-bg: #000;
    --secondary-bg: #2d2d2d;
    --tertiary-bg: #0d0d0d;
    --main-active-color: #3c82f4;
    --secondary-active-color: #306ef7;
    --main-text-color: #fff;
    --secondary-text-color: #707070;
    --tertiary-text-color: #919191;
    --fourthiary-text-color: #0fc65c;
    --main-dot-color: rgba(15,198,92, 1);
    --main-dot-color-opacity: rgba(15,198,92, 0.24);
}