@use "../mixins" as mx;

@media only screen {
  .site-header {
    padding-top: 46px;
  }

  .site-header__wrapper {
    @include mx.flexbox(row, center, space-between);
  }

  .site-header__inner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 40px;
    z-index: 10;
    background-color: #000;
    opacity: 0.94;
  }

  .site-header__bar-menu {
    display: none;
  }

  .site-header__list {
    @include mx.list-unstyled;
    @include mx.flexbox(row, center, center);
  }

  .site-header__item {
    &:first-child {
      margin-right: 19px;
    }

    &:nth-child(2) {
      margin-right: 39px;
    }

    &:nth-child(3) {
      margin-right: 38px;
    }
  }

  .site-header__link {
    @include mx.typography(
      inherit,
      500,
      20px,
      150%,
      center,
      var(--secondary-text-color)
    );
    text-decoration: none;
    transition: color 0.2s ease;
    &:hover {
      color: var(--main-active-color);
    }
  }

  .active-link {
    color: var(--main-active-color) !important;
  }

  .dropdown-link {
    @include mx.flexbox(row, center, center);
    gap: 9px;

    &::after {
      content: "";
      width: 11px;
      height: 6px;
      background: url("../../images/icons/arrdn.svg") no-repeat center;
    }
  }

  .site-header__auth-list {
    @include mx.list-unstyled;
    @include mx.flexbox(row, center, center);
    gap: 24px;
  }

  .site-header__auth-link {
    @include mx.typography(
      inherit,
      500,
      20px,
      150%,
      center,
      var(--secondary-text-color)
    );
    text-decoration: none;
  }

  .sign-in-link {
    transition: color 0.2s ease;
    &:hover {
      color: var(--main-active-color);
    }
  }

  .sign-up-link {
    min-width: 119px;
    padding: 12px 20px 13px 22px;
    color: var(--main-text-color);
    background-color: var(--secondary-active-color);
    border-radius: 10px;
    white-space: nowrap;
  }

  .close-btn {
    position: absolute;
    top: 58px;
    right: 22px;
    @include mx.flexbox(row, center, center);
    width: 34px;
    height: 34px;
    border: none;
    background: transparent url("../../images/icons/close.svg") no-repeat center;
    background-size: 34px;
    z-index: 15;
  }
}

@media only screen and (max-width: 980px) {
}

@media only screen and (max-width: 768px) {
  .site-header__bar-menu {
    width: 32px;
    height: 32px;
    background: transparent url("../../images/icons/menu.svg") no-repeat center;
    background-size: 32px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:active {
      transform: scale(0.95);
    }
  }

  .site-header__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .site-header__item {
    margin: 0 !important;
  }

  .site-header__link {
    color: var(--main-text-color); 
    font-size: 24px;
  }

  .site-header__auth-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 45px;
  }

  .sign-in-link {
    color: var(--main-text-color);
  }

  .dropdown-link {
    position: relative;
    &::after {
      position: absolute;
      right: -25px;
      width: 11px;
      height: 6px;
      background: url("../../images/icons/arrdn_white.svg") no-repeat center;
      content: "";
    }
  }
}

@media only screen and (min-width: 1024px) {
}
